/*This is my css file*/

/* Border Box Sizing */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Typography */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background: url(../img/1156_Option_1.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
	font-size: 125%;

/*MediaQueries*/
/*==============================================================================================*/ /* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}   
    
}

/*Primary Nav Styling*/
/*==============================================================================================*/

/* Dropdown Button */
.dropbtn {
    margin: 30px 0 0 30px;
    background: url(../img/j_2.png);
    width: 100px;
    height: 100px;
    color: transparent
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover {

    background-color: #3e8e41;
    transition: background 1s;
    border-radius: 5px;

}


/*Contact Styling*/
/*==============================================================================================*/

/* Imported Global: http://codepen.io/manikoth/pen/vxpQwK */
section {
  display: block;
  margin: auto;
  
  background: black;
  color: #fff;
  padding: 1em;
  width: 50%;
}

label, 
input,
textarea {
  display: block;
  margin: .25em;
  padding-top: .50em;
  width: 100%;
}

textarea {
  height: 5em;
}

input[type="submit"] {
  background: #6d6e71;
  border-radius: 5px;
  width: 100;
  padding: 1em;
  border: none;
}

input[type="submit"]:hover {
  background: #a10022;
  color: #fff;
}

:focus {
  background: #ccc;
}







/*Portfolio Styling*/
/*==============================================================================================/* 
* Imported `Global`
* http://codepen.io/manikoth/pen/vxpQwK 
*/

.gallery {
    display: flex;
    flex-wrap: wrap;
}
.gallery figure {
  background: #ccc;
  /* Note: Figures have default 1em margin. Optionally override. */
  padding: 1em;
  width: 350px;
}

.gallery img {
  border: solid 5px #6d6e71;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.gallery figcaption {
  margin-top: 1em;
}

/* Lightbox Overlay */

/* hide  */
.overlay {
  display: none;
}

/* show */
.overlay:target {
  display: block;
}