/*This is my css file*/
/*==============================================================================================*/



/* Border Box Sizing */
/*==============================================================================================*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Typography */
/*==============================================================================================*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.index {
    background: url(../img/Mech_1.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
	font-size: 125%;
}
    
.bio {
    background: url(../img/Mech_8.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
	font-size: 125%;
     }

.portfolio {
    background: url(../img/Mech_4.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
	font-size: 125%;
     }

.contact {
    background: url(../img/Mech_9.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
	font-size: 125%;
     }

/*MediaQueries*/
/*==============================================================================================*/ /* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}   
    
}

/*Primary Nav Styling*/
/*==============================================================================================*/

.menu {
    
}

#line1 {
    background: white;
    width: 700px;;
    height: 2.5px;
}
#line1:hover {
  
    animation: crush_X 1s 1;
    transform: translateX(300px);
}

#line2 {
    background: white;
    width:700px;
    height: 2.5px;
}
#line2:hover {
    animation: crush_X 1s 1;
}


h1 {
    color: white;
    max-width: 50%;
    font-size: 5em;
}

h1:hover {

    color: red;
    animation: crush_head .5s 1;
}

@-webkit-keyframes crush_head {
    from {
        -webkit-transform:scaleY(1); /* Safari and Chrome */
    }
    to {
        -webkit-transform:scaleY(0.01); /* Safari and Chrome */
    }
}

@-webkit-keyframes crush_X {
    from {
        -webkit-transform:scaleX(.01); /* Safari and Chrome */
    }
    to {
        -webkit-transform:scaleX(1); /* Safari and Chrome */
    }
}

@-webkit-keyframes translate_X {
    from {
        transition: translateX
    }
    to {
        -webkit-transform:scaleX(1); /* Safari and Chrome */
    }
}




/*Contact Styling*/
/*==============================================================================================*/

/* Imported Global: http://codepen.io/manikoth/pen/vxpQwK */
section {
  display: block;
  margin: auto;
  
  background: black;
  color: #fff;
  padding: 1em;
  width: 50%;
}

label, 
input,
textarea {
  display: block;
  margin: .25em;
  padding-top: .50em;
  width: 100%;
}

textarea {
  height: 5em;
}

input[type="submit"] {
  background: #6d6e71;
  border-radius: 5px;
  width: 100;
  padding: 1em;
  border: none;
}

input[type="submit"]:hover {
  background: #a10022;
  color: #fff;
}

:focus {
  background: #ccc;
}







/*Portfolio Styling*/
/*==============================================================================================/* 
* Imported `Global`
* http://codepen.io/manikoth/pen/vxpQwK 
*/

.gallery {
    display: flex;
    flex-wrap: wrap;
}
.gallery figure {
  background: #ccc;
  /* Note: Figures have default 1em margin. Optionally override. */
  padding: 1em;
  width: 350px;
}

.gallery img {
  border: solid 5px #6d6e71;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.gallery figcaption {
  margin-top: 1em;
}

/* Lightbox Overlay */

/* hide  */
.overlay {
  display: none;
}

/* show */
.overlay:target {
  display: block;
}




/*Bio and Resume Styling*/
/*==============================================================================================*/

.resume {
    color: white;
    display: flex;
    flex-direction: column;
    
}






